*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html,body,
#root{
  height: 100%;
  width: 100%;
}
.left .code,
.code pre,
.code pre code{
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 0.7rem;
    background-color: rgb(36, 35, 35);
}

main{
  height: 100%;
  width: 100%;
  padding: 2.5rem;
  display: flex;
  gap: 1rem;

}

main .left,
main .right{
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
  border: 1px solid black;
}

main .left {
  background-color: black;
  position: relative;

}

main .left .review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: aliceblue;
  padding: 0.5rem 2rem;
  font-weight: 500;
  border-radius: 0.7rem;
  cursor: pointer;
  user-select: none;
  color: black;

}

main .right{
  background-color: rgb(56, 57, 57);
  padding: 1rem 2rem;
  font-size: 1.2rem;
  overflow: auto;
}

.left:hover{
  border: 2px solid lightblue;
  box-shadow: 0 0 20px black;

}

.right:hover{
  border: 2px solid lightblue;
   box-shadow: 0 0 20px black;
}

.review:hover{
  border: 2px solid rgb(30, 30, 30);
   box-shadow: 0 0 20px black;
}


